alembic==1.16.1
annotated-types==0.7.0
ansicon==1.89.0
anyio==4.9.0
APScheduler==3.11.0
asyncpg==0.30.0
beautifulsoup4==4.13.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
console==0.9911
curl_cffi==0.11.1
distro==1.9.0
ezenv==0.92
fastapi==0.115.12
frozendict==2.4.6
greenlet==3.2.2
h11==0.16.0
holidays==0.73
httpcore==1.0.9
httpx==0.28.1
idna==3.10
jinxed==1.3.0
jiter==0.10.0
Mako==1.3.10
MarkupSafe==3.0.2
multitasking==0.0.11
numpy==2.2.6
openai==1.83.0
pandas==2.2.3
peewee==3.18.1
platformdirs==4.3.8
protobuf==6.31.0
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
scipy==1.15.3
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
starlette==0.46.2
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
uvicorn==0.34.2
websockets==15.0.1
yfinance==0.2.61
